
@{
    ViewBag.Title = "About";
}
@Html.Partial("_nav")
<div class="container">
    <div class="col-md mt-xl-5">
        <h3 class="text-center">About</h3>
        <p class="p-lg-4">
            Simple Online Doctor is an Australian online doctor service where you can reorder your scripts online after completing an online assessment. Our doctors are Australian registered professionals and look to make sure that what they prescribe is safe and effective for your condition.

            When you complete any online consultation, it’s important you provide us with detailed and honest answers. Just like with a normal doctor appointment, we can only make sure the treatment is safe for you if you give us accurate answers about your health and current medications.

            This service is complementary to your own GP’s services and not a replacement.
        </p>
    </div>
</div>


