
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="container mt-xl-3">
    <div class="col-md-8 mx-auto d-block">
        <h3 class="text-center">FAQ</h3>
        <img src="~/Image/faq.PNG"/>
    </div>
</div>
