
@{
    ViewBag.Title = "FAQ";
}

@Html.Partial("_nav")
<div class="container mt-xl-3">
    <div class="col-md-8 mx-auto d-block">
        <h1>FAQ</h1>
        <img src="~/Image/Faq.PNG"/>
    </div>
</div>