body {
    padding-bottom: 40px;
    padding: 0px;
}

input,
select,
textarea {
    max-width: 100%;
}


.footer {
    position:sticky;
    bottom: 0px;
    width: 100%;
    height: 40px;
}

.validation-summary-errors {
    color: red;
}

.field-validation-error {
    color: red;
}

.input-validation-error {
    border: 2px solid red;
}

.admin-back-icon {
    margin-right: 4px;
    color: #428bca;
}

.admin-action {
    color: #fff;
    text-decoration: none;
}
